.App {
  font-family: sans-serif;
}

.startingImg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
}
/* .fgfg{
  color:red;
} */

.mainHeading{
  font-family: 'Pacifico', cursive;
}

