* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: auto;
 position: relative;
 
}
.mainContainer {
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
.App {
  font-family: sans-serif;
}

.startingImg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
}
/* .fgfg{
  color:red;
} */

.mainHeading{
  font-family: 'Pacifico', cursive;
}

